name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install setuptools twine
 
    - name: Build package
      run: python setup.py sdist
      
    - name: Publish package to TestPyPI since the "prerelease" checkbox is checked
      if: "github.event.release.prerelease"
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.MATLABENGINE_TEST_PYPI_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
        
    - name: Publish package to PyPI since the "prerelease" checkbox is unchecked
      if: "!github.event.release.prerelease"
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.MATLABENGINE_PYPI_TOKEN }}
